* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #f5f7f8;
}

/* Sidebar */
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0.15;
}

.menu-bottom {
    position: absolute;
    bottom: 0;
}

p, li {
    font-family: "Montserrat", sans-serif !important;
}

.ps-menu-button,
.fpTHfu,
.ps-sidebar-container {
    background-color: #89C4F4 !important;
}

.ps-menu-button:hover {
    font-size: 1.1rem;
}

.ps-menu-button:link,
.ps-menu-button:visited {
    color: #000000;
    text-decoration: none;
}

.menu-item a:hover {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.title {
    padding: 9px;
    font-weight: bold;
    font-size: 14;
    letter-spacing: 1px;
}


/* pages */
.main-layout {
    padding: 20px;
}

/* Upload.css */
.status {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    color: #d9534f;
}

.status-success {
    color: #00a859;
}

.upload-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #89C4F4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: #64b3f5;
}

/* evaluation */
.main-layout {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.expandable-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.container-title {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.container-content {
    padding: 10px;
}

.container-divider {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.expanded .container-title {
    border-bottom: 1px solid #ccc;
}

.collapsed .container-title {
    border: 1px solid #ccc;
    border-bottom: none;
}

pre {
    white-space: pre-wrap;
}

.tips-list {
    list-style: none;
    padding: 0;
}

.tip-item {
    margin-bottom: 8px;
}

.tip-link {
    text-decoration: none;
    color: #000000;
    text-decoration: underline;
}

.tip-link:hover {
    text-decoration: underline;
}


/* Practice */

.bordered {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.code-style {
    font-family: 'Source Code Pro Variable', monospace;
}

h1 {
    text-align: center;
}

.heading-h2 {
    margin-bottom: 5px;
}

.heading-h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.h3-center {
    text-align: center;
}

.h2-center {
    text-align: center;
}

.practice-task {
    margin-bottom: 25px;
}

/* Quiz.css */
.quiz-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #89c4f4
}

.question {
    padding-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.option {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: #f5f7f8;
}

.option:hover {
    background-color: #d6d6d6;
}

.selected {
    background-color: #d6d6d6;
}

.selected:hover {
    background-color: rgb(177, 177, 177);
}

.result {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.correct {
    padding-bottom: 5px;
}

.success {
    background-color: #00a859;
    color: white;
}

.failure {
    background-color: #d9534f;
    color: white;
}

.next-button {
    margin-top: 10px;
    font-size: 1rem;
    margin-right: 5px;
    background-color: #f5f7f8;
}

.next-button:hover {
    background-color: #d6d6d6;
}


.ml-auto {
    margin-left: auto;
}

.d-block {
    display: block;
}

.task-image {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Make the image responsive */
    height: 10%; /* Maintain the aspect ratio */
    max-height: 70px; /* Set a maximum height for the image */
}

/* Settings */

.project-settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.settings-container {
    width: 50%;
}

.settings-form {
    text-align: center;
}

.checkbox-menu {
    list-style: none;
    padding: 0;
}

.checkbox-menu li {
    margin-bottom: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-input {
    margin-right: 8px;
    accent-color: #000;
    width: 20px;
    height: 20px;
}

.save-button {
    text-align: center;
}

/* Login */

label {
    display: block;
    margin-bottom: 8px;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field:focus {
    outline: none;
    border-color: #64b3f5;
    box-shadow: 0 0 8px #2f8ad4;
}

.login-button {
    margin-top: 10px;
    width: 100%;
    font-size: medium;
}
